.test{
    background-image:url("../../../public/icones/encadrement_en_haut_à_gauche.svg"),url("../../../public/icones/encadrement_en_bas_à_droite.svg");
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    padding: 20px;
    margin: 10px;
}

.Footer__grand{
    position:absolute;
    z-index: -1;
}



.Footer_petit{
    position: absolute;
    z-index: -1;
}
*{
    box-sizing: border-box;
}
