/*page d'accueil*/

.tag_line{
    background-image:url("../../../public/icones/encadrement_en_haut_à_gauche.svg"),url("../../../public/icones/encadrement_en_bas_à_droite.svg");
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    padding: 20px;
    margin: 20px;
    text-align: center;
    font-style: var(--font-playfairdisplay-sc);
    font-weight: bold;
    font-size: 35px;
    color: var(--noir-typo);
}

.intro__titre{
    font-family: var(--font-montserrat);
    font-size: 22px;
    text-align: center;
    font-weight:600;
    color: var(--noir-typo);
}

.intro{
    font-family: var(--font-montserrat);
    font-style: italic;
    font-weight: 300;
    font-size: 20px;
    margin-left: 9px;
    margin-right: 7px;
    color: var(--noir-typo);
}

.présentation__article{
    font-family:var(--font-montserrat);
    font-size: 13px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: -0.02em;
    text-align: left;
    color: var(--noir-typo);
    padding: 0 5%;
    width: auto;
    height: auto;
    display: block;
    margin-left:auto ;
    margin-right:auto ;
    min-width:60%;
    min-height:60%; 
}

#A1{
    margin-top: -111px;
    margin-bottom: 70px;
}

#A2{
    margin-top: -188px;
    margin-bottom: 160px;

}

#A3{
    margin-top: -86px;
    margin-bottom: 86px;
}

/* page à propos */

.titre_a_propos{
    font-family: var(--font-playfairdisplay-sc); 
    color: var(--bleu-clair);
    text-align: center;
    font-size: 40px;
    margin-top: 62px;
    margin-bottom: 62px;
}

.paragraphe_a_propos{
    font-family: var(--font-montserrat);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 43px;
    letter-spacing: -0.02em;
    text-align: left;
    margin-left: 31px;
    margin-right: 35px;
    color: var(--noir-typo);
}

/* Page contact */

.text__contact{
    font-family: var(--font-montserrat);
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: -0.02em;
    text-align: left;
    margin-left: 24px;
    margin-right: 21px;
    margin-top: 43px;
}

.text__formulaire{
    margin-left: 36px;
    font-family: var(--font-playfairdisplay-sc);
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 56px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--noir-typo);
}

.rectangle__formulaire{
    border-radius: 14px;
    background: var(--bleu-très-clair);
    border: none;
    margin-left: 17px;
    height: 41px;
    width: 90%;
}

#dernier__rectangle{
    height: 235px;
}

#send{
    background-image: url(../../../public/icones/rectangle_envoyer.svg);
    background-position: center;
    padding: 10px;
    padding-bottom: 14px;
    background-repeat: no-repeat;
    text-align: center;
    font-family: var(--font-playfairdisplay-sc);
    font-size: 25px;
    font-weight: 400;
    line-height: 56px;
    letter-spacing: 0em;
    color: var(--blanc-neige);
}

/* Page autres projets */

.text__autre__projets{
    color: var(--noir-typo);
    font-family: var(--font-montserrat);
    margin-left: 17px;
}

.text_long{
    font-size: 20px;
    font-weight: 400;
    line-height: 39px;
    letter-spacing: -0.02em;
    text-align: left;
}

.text_court{
    font-size: 20px;
    font-weight: 500;
    line-height: 39px;
    letter-spacing: -0.02em;
    text-align: left;
    padding-top: 40px;
}

.image_autre_projets{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 49px;
    margin-bottom: 73px;
    margin-top: 73px;
}

/* Page premier article */

.titre__principal__article{
    font-family: var(--font-playfairdisplay-sc);
    font-size: 17px;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0.02em;
    text-align: left;
    color: var(--noir-typo);
    margin-right: 13px;
    margin-left: 15px;
    margin-top: 21px;
}

.première__image__article{
    float: left;
    width: 168px;
    display: block;
    margin-left: auto;
    margin-right: 14px;
    min-width:30%;
    min-height:30%;
    
}

#premier__text__article{
    font-family: var(--font-montserrat);
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.02em;
    text-align: left;
    margin-left: 21px;
    color: var(--noir-typo);
}


.text__article {

    font-family: var(--font-montserrat);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.02em;
    text-align: left;
    color: var(--noir-typo);
    margin-left: 21px;
    margin-right: 21px;
}

.sous__titre_article{
    font-family: var(--font-playfairdisplay-sc);
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.05em;
    text-align: left;
    margin-left: 21px;
}

.image__article{
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width:50%;
    min-height:50%;

}

.frise__feminisme{
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width:60%;
    min-height:60%;

}

.titre__fin__article{

}

.premier__lien{

}

.premiere__suggestion{

}

.second__lien{

}

.seconde__suggestion{

}

.bouton__autres__projets{

}

.vecteur__fin{
    width: 100%;
    margin-bottom: -70px;

}