

.Logo_MMI{
    position: relative;
    height: 5.60rem;
    width: 4.918rem;
    left:9.313rem;
}

.text_footer{
    position: relative;
    justify-content: flex-end;
    font-family: var(--font-montserrat);
    color: var(--blanc-neige);
    padding-left: 22px; 
} 


.Footer{
    background-color: var(--bleu-foncé);
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

}

#arc{
    margin-bottom: -7px;
    width: 100%;
}
