/* Page glossaire*/

.fleche__glossaire{
    display: flex;
    justify-content: start
}

.titre__glossaire{
    font-family: var(--font-montserrat);
    font-size: 40px;
    font-style: italic;
    font-weight: 400;
    line-height: 49px;
    letter-spacing: 0.02em;
    text-align: left;
    background-image: url(../../../public/icones/soulignement_glossaire.svg);
    background-position-x: left;
    background-position-y: bottom;
    background-repeat: no-repeat;
    padding-left: 63px;
    padding-bottom: 11px;
    margin-bottom: 40px;
}

.espacement__glossaire{
    padding-bottom: 50px;

}

.droite{
    text-align: right;
    padding-left: 50px;
    background-image: url(../../../public/icones/tiret__glossaire.svg);
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 33px;
}

.en_se{
    margin-left: 20px;
    padding-bottom: 10px;
}

.en_cw{
    margin-left: 110px;
    padding-bottom: 10px;
}

.en_fs{
    margin-left: 20px;
    padding-bottom: 10px;
}

.en_s{
    padding-left: 77px;
}

.en-di{
    margin-left: 115px;
    padding-bottom: 10px;
}
.gauche{
    text-align: left;
    background-image: url(../../../public/icones/tiret__glossaire.svg);
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 33px;

}

.GF{
    margin-left: 5px;

}

.SF{
    margin-left: 60px;

}

.fdm{
    margin-left: 171px;
}

.DI{
    margin-left: 120px;

}

.liste__glossaire{
    text-decoration: none;
    font-family: var(--font-playfairdisplay);
    font-size: 23px;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0.02em;
    color: var(--noir-typo);
    column-count: 2;
    column-gap: 1em;

}

.titre__def{
    font-family: var(--font-playfairdisplay);
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0.02em;
    text-align: left;
    margin-left: 66px; 


}

.def{
    font-family: var(--font-montserrat);
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: -0.02em;
    text-align: left;
    background-image: url(../../../public/icones/barre_espacement_glossaire.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
    width: 100%;
    padding-bottom: 100px;
    padding-left: 24px;
    margin-left: 0px;
    margin-top: 20px;
    padding-right: 10px;
}