

.logo__menu{
    background-color: var(--bleu-foncé);
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    padding-right: 29.5px;
}


#Logo_h{
    margin-left: 33px;
    margin-top: 25px;

}

#M_H {
   margin-right: 27.8px;
   margin-top: 40px;
}

#VEC{
    margin-top: -0.9px;
    width: 100%;
    z-index: -4;
}